<div class="col-lg-8 col-lg-offset-2">
  <div class="jumbotron">
    <h1 class="display-4">Tu Pagina preferida</h1>
    <p>Bienvenido a TubeKids</p>

    <p>
      <a class="btn btn-primary btn-lg" [routerLink]="['/artistas',1]" role="button">Ver videos</a>
    </p>
    <p>
      <a class="btn btn-primary btn-lg" [routerLink]="['/artistas',1]" role="button">Generar micro Usuarios</a>
    </p>
    <!-- <button class="btn btn-primary" [routerLink]="['../video']">Anadir Video</button><br><br>
  <button class="btn btn-primary" [routerLink]="['../logprofile']">Logear Perfil</button> {{perfil.name}}<br> -->

  </div>
</div>
