<div class="col-lg-6" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
  <h1> {{titulo}} </h1>

  <form #formVideo="ngForm" (ngSubmit)="onSubmit();">

    <p>
      <label>NUmero</label>
      <input type="text" #number="ngModel" name="number" [(ngModel)]="video.number" required class="form-control" />
      <span *ngIf="!name.valid && name.touched">
        El number es obligatorio
      </span>
    </p>

    <p>
      <label>Titulo</label>
      <input type="text" #name="ngModel" name="name" [(ngModel)]="song.name" required class="form-control" />
      <span *ngIf="!name.valid && name.touched">
        El nombre es obligatorio
      </span>
    </p>
