html, body{
    margin: 0px;
    height: 100%;
    background-color: #eee; 
}
.actived{
    border-bottom: 4px solid #84bd00;
    padding-bottom: 4px; 
}
.head-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
}
.navigation{
    text-align: center;
    color: white;
    background: #1C1C1F;
    height: 100%;
}

.navigation a{
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}
.navigation a:hover{
    color: white;  
}
.navigation .glyphicon{
    font-size: 23px;
    display: block;
    width: 100%;
}
#user_logged{
    text-decoration: center;
    background: #1C1C1F;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #444;
    width: 75%;
}
#user_logged .glyphicon-log-out{
font-size: 16px;
}

.btn-logut{
    cursor: pointer;
}
.artist_image_for_edit img{
    width:150px;
}
.artist-list{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    list-style: none;
}
.artist-item{
    width: 23%;
    margin: 0px;
    padding: 0px;
    height: 327px;
    border: 1px solid #444;
    margin-left: 20px;
    margin-top:20px;
}
.artist-item .artist-image{
    height: 245px;
    width: 100%;
    background: black;
    overflow: hidden;
}
.artist-item .artist-image img{
    min-width: 100%;
    width: 100%;
}
.artist-item .artist-name a{
    color: white;
}
.artist-item .artist-name{
    color: white;
    padding: 10px;
    background: #222326;
}